{# templates/planing/show.html.twig #}
{% extends 'layout.html.twig' %}

{# Plan information #}
{% block title %}{{ plan.name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ plan.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <tr>
                        <th>Category</th>
                        {% for month in table.getMonths() %}
                            <th>{{ (month.month ~ '/01/2023')|date('F') }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Incomes</td>
                    </tr>
                    {% for category in table.getIncomeCategories() %}
                        <tr>
                            <td>{{ category.name }}</td>
                            {% for month in table.getMonths() %}
                                <td>
                                    <span class="value">{{ table.getIncomeFor(category, month) }}</span>
                                    <i class="fas fa-edit edit-icon" data-plan-uuid="{{ plan.uuid }}"
                                       data-category-uuid="{{ category.uuid }}" data-month="{{ month.month }}"
                                       data-year="{{ month.year }}"></i>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Expenses</td>
                    </tr>
                    {% for category in table.getExpenseCategories() %}
                        <tr>
                            <td>{{ category.name }}</td>
                            {% for month in table.getMonths() %}
                                <td>
                                    <span class="value">{{ table.getExpenseFor(category, month) }}</span>
                                    <i class="fas fa-edit edit-icon" data-plan-uuid="{{ plan.uuid }}"
                                       data-category-uuid="{{ category.uuid }}" data-month="{{ month.month }}"
                                       data-year="{{ month.year }}"></i>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Set Value</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <div class="form-group">
                            <label for="value" class="col-form-label">Value:</label>
                            <input type="text" class="form-control" id="value">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveChanges">Save</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/plan.js') }}"></script>
{% endblock %}